<app-header-master></app-header-master>
<link rel="preconnect" href="https://fonts.googleapis.com" />
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
<link
  href="https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap"
  rel="stylesheet"
/>

<div class="container">
  <div class="text">
    <h2>En Petrer</h2>
    <mat-divider></mat-divider>
    <p>
      La Sala Play es un espacio dedicado a la música en vivo en Petrer. Con una
      amplia variedad de géneros musicales, desde rock hasta jazz, pasando por
      blues y soul, la Sala Play se ha convertido en un lugar de referencia para
      los amantes de la música en directo. Con una acústica impecable y una
      atmósfera acogedora, la Sala Play es el lugar perfecto para disfrutar de
      una noche inolvidable de música en vivo. Además, la Sala Play cuenta con
      una amplia selección de bebidas y un ambiente agradable, lo que la
      convierte en el lugar ideal para relajarse y disfrutar de buena música con
      amigos.
    </p>
  </div>
  <div class="proxEvents">
    <h2>Proximos EVENTOS</h2>
    <mat-divider></mat-divider>
    <mat-card class="gestEvents">
      <mat-card-content class="miniEvents">
        <img class="imgEvents" src="../../../../assets/img/sfdk.jpg" alt="" />
        <h2>SFDK</h2>
        <p>
          SFDK es un dúo de hip hop español originario de Sevilla, compuesto por
          los MC's Zatu y Acción Sánchez. Han sido uno de los grupos más
          influyentes en la escena del rap español desde la década de 1990.
        </p>
        <button mat-raised-button routerLink="/events">Comprar entradas</button>
      </mat-card-content>
      <mat-card-content class="miniEvents">
        <img class="imgEvents" src="../../../../assets/img/estopa.jpg" alt="" />
        <h2>Estopa</h2>
        <p>
          Estopa es un dúo musical español formado por los hermanos David y José
          Muñoz. Con más de 20 años de carrera, han logrado fusionar el rock con
          la música tradicional española, creando un sonido único y reconocible.
          Han publicado numerosos discos y han sido galardonados con diversos
          premios y reconocimientos a lo largo de su trayectoria.
        </p>
        <button mat-raised-button class="bttEstopa" routerLink="/events">Comprar entradas</button>
      </mat-card-content>
      <mat-card-content class="miniEvents">
        <img
          class="imgEvents"
          src="../../../../assets/img/canto_loco.jpg"
          alt=""
        />
        <h2>El canto del loco</h2>
        <p>
          El canto del loco fue una banda de rock español formada en 1994.
          Fueron una de las bandas más populares de España durante los años
          2000.
        </p>
        <button mat-raised-button routerLink="/events">Comprar entradas</button>
      </mat-card-content>
    </mat-card>
  </div>
  <div class="privateParty">
    <h2>Fiestas PRIVADAS</h2>
    <mat-divider></mat-divider>
    <mat-card>
      <mat-card-content class="privatePartyTime">
        <div class="partyText">
          <div class="iconsTest">
            <mat-icon>celebration</mat-icon>
            <mat-icon>party_mode</mat-icon>
            <mat-icon>celebration</mat-icon>
            <mat-icon>party_mode</mat-icon>
            <mat-icon>celebration</mat-icon>
            <mat-icon>party_mode</mat-icon>
            <mat-icon>celebration</mat-icon>
            <mat-icon>party_mode</mat-icon>
          </div>
          <p>
            La Sala Play de Petrer es el lugar perfecto para celebrar tu próxima
            fiesta o evento. Con su amplio espacio, excelentes instalaciones de
            sonido y luces, y su ambiente vibrante, no hay mejor lugar para
            bailar y pasarlo bien. Además, su equipo altamente capacitado te
            ayudará en todo lo que necesites para que tu evento sea todo un
            éxito. ¡No te lo pienses más y reserva ya tu fecha en la Sala Play
            de Petrer!
          </p>
          <div class="iconsTest">
            <mat-icon>celebration</mat-icon>
            <mat-icon>party_mode</mat-icon>
            <mat-icon>celebration</mat-icon>
            <mat-icon>party_mode</mat-icon>
            <mat-icon>celebration</mat-icon>
            <mat-icon>party_mode</mat-icon>
            <mat-icon>celebration</mat-icon>
            <mat-icon>party_mode</mat-icon>
          </div>
          <p></p>
          <button mat-raised-button routerLink="/contact">Ponte en contacto</button>
        </div>
        <div class="partyImg">
          <img src="../../../../assets/img/DSC04065.jpg" alt="" />
          <img src="../../../../assets/img/DSC04075.jpg" alt="" />
          <img src="../../../../assets/img/DSC04084.jpg" alt="" />
          <img src="../../../../assets/img/DSC03965.jpg" alt="" />
        </div>
      </mat-card-content>
    </mat-card>
  </div>
</div>
<app-footer-master></app-footer-master>
