<script
  src="https://kit.fontawesome.com/9b0ed348d1.js"
  crossorigin="anonymous"
></script>
<div class="main">
  <h2 style="padding: 120px 700px 10px 200px">La diversión está en Play.</h2>
  <mat-divider></mat-divider>
  <div class="container">
    <div class="newsLetter">
      <h2>Suscríbete a nuestra news Letter</h2>
      <p>
        Enterate de los ultimos movimientos en la escena del rock y el Rap
        español y latinoamericano.
      </p>
      <button
        style="
          background-color: black;
          color: white;
          padding: 5px 10px;
          margin: 20px;
        "
        mat-stroked-button
      >
        SUSCRIBIRME
      </button>
    </div>
    <div class="restFoot">
      <h2>Siguenos en Redes Sociales</h2>
      <div class="icons">
        <a
          href="https://www.instagram.com/salaplaypetrer/"
          class="fa-brands fa-instagram fa-2xl"
        ></a>
        <i class="fa-brands fa-facebook fa-2xl"></i>
        <i class="fa-brands fa-twitter fa-2xl"></i>
        <i class="fa-brands fa-tiktok fa-2xl"></i>
        <i class="fa-brands fa-youtube fa-2xl"></i>
      </div>
    </div>
  </div>
  <div class="superFoot">
    <h3>Todos los derechos reservados <i class="fa-regular fa-copyright fa-xl"></i> Sala Play Petrer. <p>Av. Elda, 102, 03610 Petrer, Alicante</p></h3>
  </div>
</div>
