<div class="container">
  <div class="lol">
    <img src="../../../../assets/img/logo_play-1-removebg-preview.png" alt="" />
    <h2>Panel de administración</h2>

    <button
      mat-raised-button
      class="mat-primary full-width mb-1"
      style="background-color: black"
      (click)="createEvent()"
    >
      Crear evento
    </button>
    <button
      mat-raised-button
      class="mat-primary full-width mb-1"
      style="background-color: black"
      (click)="editEvent()"
    >
      Editar / Eliminar evento
    </button>
    <button
      mat-raised-button
      class="mat-primary full-width mb-1"
      style="background-color: black"
      routerLink="/profile"
    >
      Volver
    </button>
  </div>
</div>
