.lol img{
    width: 200px;
   }
  
  .lol {
    display: flex;
    flex-direction: column;
    width: 25%;
    align-items: center;
    border: 1px solid black;
    border-radius: 20px;
    background-color: rgba(255, 255, 240, 1);
    padding:  10px 100px;
  }
  
  .container{
    background-image:  url("../../../../../assets/img/DSC04057.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
  }
  
  button{
    margin-top: 30px;
  }
  