<div class="container">


<h2>Cambiar contraseña</h2>
<form [formGroup]="itemForm" (ngSubmit)="submit()">
  <mat-form-field appearance="outline" class="full-width">
    <mat-label>Contraseña actual</mat-label>
    <input
      name="actualPass"
      formControlName="actualPass"
      matInput
      [type]="hide ? 'password' : 'text'"
    />
    <mat-icon matSuffix class="pointer" (click)="hide = !hide">{{
      hide ? "visibility_off" : "visibility"
    }}</mat-icon>
  </mat-form-field>

  <mat-form-field appearance="outline" class="full-width">
    <mat-label>Contraseña nueva</mat-label>
    <input
      name="new1Pass"
      formControlName="new1Pass"
      matInput
      [type]="hide2 ? 'password' : 'text'"
    />
    <mat-icon matSuffix class="pointer" (click)="hide2 = !hide2">{{
      hide2 ? "visibility_off" : "visibility"
    }}</mat-icon>
  </mat-form-field>

  <mat-form-field appearance="outline" class="full-width">
    <mat-label>Repetir nueva contraseña</mat-label>
    <input
      name="new2Pass"
      formControlName="new2Pass"
      matInput
      [type]="hide3 ? 'password' : 'text'"
    />
    <mat-icon matSuffix class="pointer" (click)="hide3 = !hide3">{{
      hide3 ? "visibility_off" : "visibility"
    }}</mat-icon>
  </mat-form-field>
  <div class="bttS">
    <button mat-raised-button [disabled]="itemForm.invalid">Aceptar</button>
    <button mat-raised-button color="warn"[mat-dialog-close]>Cancelar</button>
  </div>
</form>
</div>
