<div class="container">
  <h2>Estas seguro de eleminar este evento?</h2>
  <div class="btt">
    <button
      mat-raised-button
      class="mat-primary full-width mb-1"
      style="background-color: black"
      (click)="eliminar()"
    >
      <mat-icon>done</mat-icon>Confirmar
    </button>
    <button
      mat-raised-button
      class="mat-primary full-width mb-1"
      style="background-color: black"
      (click)="volver()"
    >
      <mat-icon>cancel</mat-icon>Volver
    </button>
  </div>
</div>
