<div class="container">
  <form [formGroup]="itemForm" (ngSubmit)="submit()">
    <h2 ng></h2>
    <h2>{{title}} de eventos</h2>
    <div class="">
      <mat-form-field class="full-width" appearance="outline">
        <mat-label>Nombre</mat-label>
        <input matInput name="name" value="" formControlName="name" />
      </mat-form-field>
    </div>

    <div class="">
      <mat-form-field class="full-width" appearance="outline">
        <mat-label>Precio de entrada</mat-label>
        <input name="price" matInput formControlName="price" />
      </mat-form-field>
    </div>
    <div class="">
      <mat-form-field class="full-width" appearance="outline">
        <mat-label>Fecha</mat-label>
        <input matInput name="date" value="" formControlName="date" />
      </mat-form-field>
    </div>

    <div class="">
      <mat-form-field class="full-width" appearance="outline">
        <mat-label>Descripcion</mat-label>
        <textarea name="description" matInput formControlName="description" ></textarea>
      </mat-form-field>
    </div>

    <div class="">
      <mat-form-field class="full-width" appearance="outline">
        <mat-label>Numero de entradas</mat-label>
        <input matInput name="tickets" formControlName="tickets" />
      </mat-form-field>
    </div>

    <button
      mat-raised-button
      class="mat-primary full-width mb-1"
      style="background-color: black"
    >
      {{btt}} evento
    </button>
    <button
      mat-raised-button
      class="mat-primary full-width mb-1"
      style="background-color: black"
      (click)="cerrar()"
      type="button"
    >
      Volver
    </button>
  </form>
</div>
